body {
  display: flex;
  width: 1920px;
  height: 1080px;
  justify-content: s;
  align-items: center;
  gap: 2px;
  background: linear-gradient(142deg, #404C53 21.85%, #382538 56.98%, #161618 91.4%);
  background-repeat: no-repeat;
}

.login_Allmain {
  display: flex;
  width: 600px;
  height: 309.408px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #DFDFF1;
  background: linear-gradient(115deg, rgba(255, 255, 255, 0.25) 0%, rgba(205, 203, 203, 0.25) 50.28%, rgba(249, 198, 244, 0.20) 100.56%);
  box-shadow: 9px 14px 29px 0px rgba(167, 122, 202, 0.25);
}

#h1 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #FFF 0%, #DACBEF 93.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Register_account_stage_and_img {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}


.Register_account_stage_font {
  display: flex;
  width: 322px;
  justify-content: space-between;
  align-items: flex-start;
}

.Register_account_stage_font>#stage1_e-mail {
  color: rgba(255, 255, 255, 0.20);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Register_account_stage_font>#stage2_user {
  color: #D0C3E2;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Register_account_stage_font>#stage3_finish {
  color: rgba(255, 255, 255, 0.20);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#Create_account_input_e-mail {
  display: flex;
  width: 600px;
  height: 364.245px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 30px;
border: 3px solid #DFDFF1;
background: linear-gradient(115deg, rgba(255, 255, 255, 0.25) 0%, rgba(205, 203, 203, 0.25) 50.28%, rgba(249, 198, 244, 0.20) 100.56%);
box-shadow: 9px 14px 29px 0px rgba(167, 122, 202, 0.25);
}


/* 2-1-2 按鈕全組件 */
#DIe_return_Verification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


#Verification_code_main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}


#BT_return_Verification {
  display: flex;
  width: 101px;
  height: 26px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  border: 1px solid #F8F8F8;
  background: rgba(58, 10, 39, 0.20);
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.25);
}

#Verification_input {
  display: flex;
  width: 178px;
  height: 25px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #9965B9;
  background: linear-gradient(115deg, rgba(31, 37, 70, 0.10) 0%, rgba(34, 11, 11, 0.31) 100.56%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.40) inset, -1px -3px 18px 0px rgba(161, 101, 189, 0.25);
}

#password_input {
  display: flex;
  width: 339px;
  height: 30px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #9965B9;
  background: linear-gradient(115deg, rgba(13, 16, 36, 0.10) 0%, rgba(34, 11, 11, 0.31) 100.56%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.40) inset, -1px -3px 18px 0px rgba(161, 101, 189, 0.25);

}

#BT_return_font {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* #Create_account_font {
  display: flex;
  width: 468px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} */

/* 2-1-5 DIV */
.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input_div_gender {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
}

.input_DIV_man {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.font_A {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button {
  display: flex;
  width: 5px;
  height: 5px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid var(--input_, #9965B9);
  background: linear-gradient(115deg, rgba(31, 37, 70, 0.10) 0%, rgba(34, 11, 11, 0.31) 100.56%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.40) inset, -1px -3px 18px 0px rgba(161, 101, 189, 0.25);
}

.button:focus {
  display: flex;
  width: 21px;
  height: 20px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  border: 1px solid #9965B9;
  background: linear-gradient(115deg, rgba(31, 37, 70, 0.10) 0%, rgba(34, 11, 11, 0.31) 100.56%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.40) inset, -1px -3px 18px 0px rgba(161, 101, 189, 0.25);
}

.button_2 {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  fill: linear-gradient(215deg, #EBE3FF 13.48%, #F3A2F4 86.52%);
  filter: drop-shadow(0px 0px 4px rgba(252, 249, 255, 0.25));
}



#E-mail_div {
  display: flex;
  width: 380px;
  align-items: center;
  gap: 20px;
}

#E-mail {
  color: #D0C3E2;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#E-mail_fonts {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


#E-mail-talk_font {
  width: 360px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Login_ALLuser_input {
  /* display: flex; */
  display: flex;
  width: 339px;
  height: 25px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #9965B9;
  background: linear-gradient(115deg, rgba(31, 37, 70, 0.10) 0%, rgba(34, 11, 11, 0.31) 100.56%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.40) inset, -1px -3px 18px 0px rgba(161, 101, 189, 0.25);
}


/* 驗證按鈕 */
#BT_Login_submit {
  display: flex;
  width: 160px;
  height: 30px;
  transform: rotate(0.1deg);
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #F8F8F8;
  background: linear-gradient(96deg, #8C5A78 3.46%, #553147 97.41%);
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.25);

}


#BT_Login_submit:hover {
  display: flex;
  width: 160px;
  height: 30px;
  transform: rotate(0.1deg);
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #F8F8F8;
  background: linear-gradient(96deg, #B37E9E 3.46%, #782A38 97.41%);
  box-shadow: 0px 0px 13px 0px rgba(209, 80, 80, 0.25);
  transition: 4.5s;
}

#bt_mon_verify {
  transform: rotate(-0.1deg);
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#Loginline {
  width: 416px;
  height: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) 0.1%, rgba(174, 189, 206, 0.93) 50.1%, rgba(177, 213, 247, 0.10) 100.1%);
}

.DIV_lastDown_bt {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#passwordALL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* <!-- 你已完成驗證 --> */

.warning_message_ALL {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.warning_message_font {
  color: #56FF08;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.X-warning_message_font {
  color: #DF6868;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}